<!doctype html>
<html ng-app="mega_todo">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="controller.js"></script>
  </head>
  <body>

<div ng-controller="MainCtrl">
  <h1>My Todo list:</h1>

  <div>
    <form>
        <input ng-model="newItemText" type="text"  >
        <button ng-click="addItem(newItemText)" >Add</button>
    </form>
  <div>

  <ul>
    <li ng-repeat="item in todoList">{{item.text}}   <span ng-click="deleteItem($index)" >X</span>  </li>
  </ul>
</div>
  </body>
</html>